/*
.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;

  label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  input {
    margin-bottom: 0;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }

  .validation {
    color: red;
  }
}
*/

.example-form-field {
  width: 200px;
}



