<div class="container">
  <form class="registration-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-registration-form-field
      label="First name"
      placeHolder="Ex. Andryi"
      [control]="form.controls['firstName']">
    </app-registration-form-field>

    <app-registration-form-field
      label="Last name"
      placeHolder="Ex. Shlapak"
      [control]="form.controls['lastName']"
      inputType="password"
    ></app-registration-form-field>

    <app-registration-form-field
      label="City"
      placeHolder="Ex. Kyiv"
      [control]="form.controls['city']"
    ></app-registration-form-field>

    <app-registration-form-field
      label="Age"
      placeHolder="Ex. 18"
      [control]="form.controls['age']"
    ></app-registration-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>
